*{
    padding: 0%;
    margin: 0%;
    font-family: 'Bangers', cursive;
font-family: 'Redressed', cursive;
font-family: 'Roboto Serif', serif;
font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.hero{
height: 100vh;
width: 100%;
background-image: url(./bg_img.jpg);
background-size: cover;
background-position: center;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top:45px;
    padding-left:8% ;
    padding-right:8%;
}
.logo{
    color: rgb(50, 0, 61);
    font-size:35px;
    letter-spacing:1px;
    cursor: pointer;
}
span{
    color: rgb(139, 5, 193);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:rgb(139, 5, 193);
    transition: 0.4s;

}
.content{
    position: absolute;
    top:50%;
    left:8%;
    transform: translateY(-50);
}
h1{
    color:white;
    margin:20px 0px 20px;
    font-size:75px;
}
h3{
    color:white;
    font-size:25px;
    margin-bottom:50px; 
    margin-left: 160px;
}
h4{
    color:rgb(1, 244, 253);
    font-size:20px;
    letter-spacing: 2px;
  
}
.heading{
    color: rgb(50, 0, 61);
}
.newslatter{
    width: 350px;
    max-width:100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(1, 244, 253) ;
    outline: none;
    border-radius:30px;
}
.designer{
    color: rgb(1, 244, 253);
}
.newslatter form input:last-child{
    border-radius: 50px;
    background-color:rgb(1, 244, 253) ;
    color:rgb(50, 0, 61);
    outline: none;
    border:none;
    position: absolute;
    padding: 10px 30px;
    top:6px;
    right:6px;
}
.newslatter form input:last-child:hover{
    background-color: rgb(0, 0, 0);
    border:2px solid rgb(1, 244, 253);
    cursor: pointer;
    color:white;
    transition: 0.4s;
}

/* .bh {
    background-color:rgb(1, 244, 253);
    color:rgb(5, 32, 33);
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    margin-left: 100px;

}
.bh:hover{
    background-color: transparent;
    border:2px solid rgb(1, 244, 253);
    cursor: pointer;
    color:rgb(255, 255, 255);
    transition: 0.4s;
} */





/* About Me Section start here */

.Bgimg{
    background-image: url(./sectionimg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height:113vh; 
    margin: 0;
    padding: 0;
}
 .About{ 
    width: 100%;
    /* padding:100px 0px; */
    /* background-color:rgb(50, 0, 61) ; */
}
.About img{
    height:auto;
    width:598px;
    /* width:430px; */
}
.About-width{
    width:550px;
}
.main{
    width:1130px;
    max-width:95% ;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: space space-around;    

}
.About-text h2{
   color:rgb(5, 32, 33);
   font-size:75px;
   text-transform:capitalize ;
   margin-bottom: 20px;
   font-family: 'Oswald', sans-serif;
   margin-left: 200px;
}
.stroke-text{
    text-shadow: 1px 0 0 rgb(255, 255, 255) ;
    
}
.About-text h5{
    color:rgb(5, 32, 33);
    letter-spacing: 2px;
    font-size:22px;
    text-transform:capitalize ;
    margin-bottom: 25px;
    margin-left: 200px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 0 0 rgb(255, 255, 255);
 }
 .About-text p{
    color:rgb(248, 251, 251);
    letter-spacing: 1px;
    line-height:28px;
    font-size:18px;
    margin-bottom: 45px;
    margin-left: 200px;
    /* text-shadow: 1px 0 0 rgb(5, 32, 33); */
   
 }

 #info{
    color:rgb(5, 32, 33);
    letter-spacing: 1px;
    line-height:28px;
    font-size:18px;
    margin-bottom: 45px;

 }
 .para{
     color:rgb(255, 255, 255);
     text-shadow: 2px 0 0 rgb(5, 32, 33);
 }
 button{
     background-color:rgb(1, 244, 253);
     color:rgb(5, 32, 33);
     text-decoration: none;
     border:2px solid transparent;
     font-weight: bold;
     padding: 13px 30px;
     border-radius: 30px;
     transition: 0.4s;
     margin-left: 200px;

 }
 button:hover{
     background-color: transparent;
     border:2px solid rgb(1, 244, 253);
     cursor: pointer;
     color:rgb(255, 255, 255);
     transition: 0.4s;
 }
 
/* skill section style is here */
.Bgimg-2{
    background-image: url(./sectionimg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height:200vh; 
}
 .About-2{ 
    width: 100%;
    flex: 1 1 48rem; 
    padding: 2rem  1rem; 
    align-items: center;
     justify-content:center; 
    /* padding:100px 0px; */
    /* background-color:rgb(50, 0, 61) ; */
}
.About-2 img{
    height:auto;
    /* width:430px; */
}
.About-2-width{
    width:550px;
}
.main-2{
    width:1130px;
    max-width:95% ;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: space space-around;    

}
.About-text-2 h2{
   color:rgb(5, 32, 33);
   font-size:75px;
   text-transform:capitalize ;
   margin-bottom: 20px;
   font-family: 'Oswald', sans-serif;
   margin-left:550px;
}
.stroke-text-2{
    text-shadow: 1px 0 0 rgb(255, 255, 255) ;
}
.About-text-2 h5{
    color:rgb(5, 32, 33);
    letter-spacing: 2px;
    font-size:22px;
    text-transform:capitalize ;
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 0 0 rgb(255, 255, 255);
    margin-left:550px;
 }
 .About-text-2 p{
    color:rgb(248, 251, 251);
    letter-spacing: 1px;
    line-height:28px;
    font-size:18px;
    margin-bottom: 45px;
    padding:15px 0; 
    /* text-shadow: 1px 0 0 rgb(5, 32, 33); */
    background-color:rgb(1, 244, 253);
    color:rgb(5, 32, 33);
    text-decoration: none;
    /* border:2px solid transparent; */
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    margin-left:550px;
   
 }
 

 /* .BackgroundImg-2{
    background-image: url(./section_img.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height:229vh; 
} */

.BackgroundImg {
    background-image: url('./sectionimg.jpg');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:149vh; 
    margin: 0;
    padding: 0;
  }

 
 /* css */
 .skills {
   /* margin-top: 50px; */
   margin-top: -20px;
 }
 

 .ui-ux {
    float: left;
    width: 50%;
    
    margin-left: 20px;
  }
 
 .web-development {
   float: right;
   width: 50%;
   margin-right:40px;
 }
 
 .skill {
   margin-bottom: 20px;
 }

 .skills h2{
    color:rgb(5, 32, 33);
   font-size:75px;
   text-transform:capitalize ;
   margin-bottom: 20px;
   font-family: 'Oswald', sans-serif;
   margin-left: 600px;
 }
 .skills h3{
    color: #000000;
    margin-top: 30px;
 }
 
 .skill p {
   margin-bottom: 10px;
   color:rgb(255, 255, 255) ;
 }

 .ui-ux .skill .jo {
    color: black;
  }
 
 .bar {
   /* height: 20px; */
   /* background-color: #f2f2f2; */
   color: aqua;
   border-radius: 5px;
   height: 18px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
 }
 
 .progress {
   height: 100%;
   line-height: 20px;
   text-align: center;
   color: #fff;
   border-radius: 5px;
   background-color: #3de5ff;
 }
 
 button {
    background-color: rgb(1, 244, 253);
    color: rgb(5, 32, 33);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
  }
  
  button:hover {
    background-color: transparent;
    border: 2px solid rgb(1, 244, 253);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.4s;
  }
  
  .skills-section {
    display: flex;
    justify-content: center;
    gap: 70px;
    background-color: #000000;
  }
  .skills .new {
    /* background-color: #000000;
    color: #fff; */
    color:rgb(249, 249, 249);
    background-color: #000000;
    font-size:75px;
    text-transform:capitalize ;
    
    font-family: 'Oswald', sans-serif;
    text-align: center;
    
 }
  
  .skills-section img {
    margin-top: 50px;
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .skills-section img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(1, 244, 253);
  }

  /* .skills h1{
    color:rgb(249, 249, 249);
    background-color: #000000;
    font-size:75px;
    text-transform:capitalize ;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    margin-left: 200px;
 } */
 /* .stro{
     text-shadow: 1px 0 0 rgb(255, 255, 255) ;
     
 } */

 



 #info-2{
    color:rgb(5, 32, 33);
    letter-spacing: 1px;
    line-height:28px;
    font-size:18px;
    margin-bottom: 45px;


 }
  




 .para-2{
     color:rgb(255, 255, 255);
     text-shadow: 2px 0 0 rgb(5, 32, 33);
 }

 /* contact section starts here */
 .contact-me{
     width:100%;
     height:290px;
     background-color:black;
     display:flex;
     align-items:center;
     flex-direction:column;
     justify-content:center;
 }
 .contact-me p{
     color:white;
     font-size: 30px;
     font-weight: bold;
     margin: bottom 25px;
     margin-right: 50px;
 }
 .contact-me .button-two{
    background-color:rgb(1, 244, 253);
    color:rgb(5, 32, 33);
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    margin-right: 50px;
 }
 .contact-me .button-two:hover{
    background-color: transparent;
    border:2px solid rgb(1, 244, 253);
    cursor: pointer;
    color:rgb(255, 255, 255);
    transition: 0.4s;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background:#000000;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom:20px;
    font-weight: bold;
    margin-right: 50px;

}
footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    margin-bottom:20px;
    line-height: 26px;
    margin-right: 50px;
    
}
.social{
    display:flex;

}
.social a{
    width: 65px;
    height: 65px;
    display:flex;
    align-items: center;
    justify-content: center;
    background:rgb(1, 244, 253);
    border-radius:30%;
    margin:35px 10px;
    color:rgb(5, 32, 33);
    text-decoration: none;
    font-size: 40px;
    margin-right: 50px;
}
.social a:hover{
    background-color: transparent;
    border:2px solid rgb(1, 244, 253);
    cursor: pointer;
    color:rgb(255, 255, 255);
    transition: 0.4s;
}
.end{
    position: absolute;
    color:rgb(1, 244, 253);
    bottom:35px;
    font-size: 14px;
    margin-right: 50px;

}